<div class="home page-container page-container--center">

  <%= render 'shared/navbar' %>

        <h1><%= @partnair.name %></h1>
        <p><%= @partnair.description %></p>
        <%= link_to "Cliquez sur ce lien pour plus d'information", @partnair.website %>

  <%= render 'shared/footer' %>
</div>
