<div class="home page-container page-container--center">
  <%= render 'shared/navbar' %>
    <h1><%= @child.name.capitalize %></h1>
    <div class="family-creation-form">
      <h1>Les missions attribuées</h1>

        <div class="card-body child-mission-list">
          <% @child.missions.where.not(:status => 'done').each do |mission| %>
          <div class ="child-mission-list__date">  
            
              <%= mission.name.capitalize %> 
          </div>
          <% end %>
        </div>  
        
      <h1>Les récompenses attribuées</h1>
          <div class="card-body child-mission-list__rewards">
            <% @child.rewards.each do |reward| %>
            <div class ="child-mission-list__date">
              <%= reward.name.capitalize %>
            </div>
            <% end %>
          </div>
    </div>



  <button type="button" class="btn"><%= link_to "Retour", :back,  class: 'btn button-subscribe' %></button>
  <%= render 'shared/footer' %>
</div>



