<div class="home page-container page-container--center">

  <%= render 'shared/navbar' %>

  <% if current_user.child? %>
  <!-- VUE ENFANT -->
  <h1>Mes récompenses</h1>
  <h1>Mon nombre de points disponible <%= @current_user.point %></h1>

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h3 class="mb-0">
            <h1 data-toggle="collapse" data-target="#collapseOne" href="#collapse1">
              Les récompenses disponibles (met toi ienb)
            </h1>
          </h3>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="rewards-list">
            <% @current_user.rewards.order('price DESC').each do |reward| %>
              <% if reward.done? == false %>
                <%= link_to reward_path(reward) do %>
                  <div class="available-reward">
                    <%= reward.name.capitalize %>
                    <p>Nombre de point requis <%= reward.price %></p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h3 class="mb-0">
            <h1 data-toggle="collapse" data-target="#collapseTwo" href="#collapse2">
              Les récompenses déjà pécho
            </h1>
          </h3>
        </div>
        <div id="collapseTwo" class="collapse hide" data-parent="#accordion">
          <div class="rewards-list">
            <% @current_user.rewards.order('price DESC').each do |reward| %>
              <% if reward.done?  %>
                <%= link_to reward_path(reward) do %>
                <div class="available-reward">
                  <%= reward.name.capitalize %>
                  <p>Nombre de point requis <%= reward.price %></p>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  <% else %>
  <!-- VUE PARENT -->

    <h1>Voici la liste des récompenses</h1>

    <button type="button" class="btn"><%= link_to "Ajouter une récompense",  partnairs_path, class: 'button-subscribe' %></button>

   <div class="rewards-list">
      <% @family_rewards.each do |reward| %>
      <div class="reward">
        <div class="reward__name">
          <%= "#{reward.name.capitalize} (#{reward.user.name})" %>
          <p>Nombre de points requis <%= reward.price %></p>
        </div>
          <div class="reward__cta">
            <%= link_to "Modifier", edit_reward_path(reward), class: 'button-small' %>
            <%= button_to "Supprimer", reward, class: 'button-small', :method => :delete %>
          </div>     
      </div>
      <% end %>
  </div>
    
  <% end %>

<!-- Lien vers ajouter une récompense => amène dans un premier temps sur la liste des partenaires -->


 <%= render 'shared/footer' %>
</div>
