<% if current_user.child? %>
<!-- VUE ENFANT -->
<h1>Mes récompenses</h1>
<h2>Mon nombre de points disponible <%= @current_user.point %></h2>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h3 class="mb-0">
          <a data-toggle="collapse" data-target="#collapseOne">
            Les récompenses disponibles (met toi ienb)
          </a>
        </h3>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-rewards">
            <% @current_user.rewards.order('price DESC').each do |reward| %>
              <% if reward.done? == false %>
                <%= link_to reward_path(reward) do %>
                  <li>
                    <%= reward.name.capitalize %>
                  </li>
                    <p>Nombre de point requis <%= reward.price %></p>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h3 class="mb-0">
          <a data-toggle="collapse" data-target="#collapseTwo">
            Les récompenses déjà pécho
          </a>
        </h3>
      </div>
      <div id="collapseTwo" class="collapse hide" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-rewards">
            <% @current_user.rewards.order('price DESC').each do |reward| %>
              <% if reward.done?  %>
                <%= link_to reward_path(reward) do %>
                  <li>
                    <%= reward.name.capitalize %>
                  </li>
                    <p>Nombre de point requis <%= reward.price %></p>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>


<% else %>
<!-- VUE PARENT -->

  <h1>Voici la liste des récompenses</h1>

  <button><%= link_to "Ajouter une récompenses",  new_family_reward_path(@current_user.id) %></button>

  <ul class="list-rewards">
    <% @family_rewards.each do |reward| %>
      <%= link_to reward_path(reward) do %>
        <li>
          reward = <%= reward.name.capitalize %>
        </li>
          <p>Nombre de point requis <%= reward.price %></p>
      <% end %>
    <% end %>
  </ul>
<% end %>

<!-- Lien vers ajouter une récompense => amène dans un premier temps sur la liste des partenaires -->
