
<div class="home page-container page-container--center">
  <%= render 'shared/navbar' %>

  <div class="family-creation-form">
    <h1><%= @reward.name %></h1>

    <!-- VUE ENFANT -->
    <% if current_user.child? %>
      <p>Nombre de points requis : <%= @reward.price %></p>
        <% if current_user.point >= @reward.price && @reward.done == false %>
          <%= "JE LE VEUX !" %>
          <%= simple_form_for @reward do |f| %>
            <%= f.hidden_field :done, :value => true %>
            <%= f.button :submit, "C'est parti", class: 'btn button-widou' %>
             
          <% end %>
        <% elsif @reward.done %>
          <%= "Hep hep tu as déjà pris tout ça petit garnement" %>
        <% else %>
          <%= "Il te manque encore #{@reward.price - current_user.point} points" %>
        <% end %>

    <!-- VUE PARENT -->
    <% else %>
          <br />
      <% if @reward.done %>
      <% partnair = Partnair.find_by_name(@reward.name) %>
       <h3 style="text-align: center"><%= "La récompense a été selectionnée" %></h3>
          <% if partnair != nil && @reward.name == partnair.name %>
          <br />
          <br />
          <br />
            <h4><%=  "Code promo : #{partnair.code}" %></h4>
          <% else %>
          <%= "Pas de code promo pour cette récompense" %>
          <% end %>
          <br />
          <br />
          <%= "Pensez à supprimer la récompense" %>
      <% else %>
        <%= "La récompense n'a toujours pas été prise" %>
      <% end %>
    <% end %>
  </div>



  <button type="button" class="btn"><%= link_to "Retour", :back,  class: 'btn button-subscribe' %></button>

  <%= render 'shared/footer' %>

</div>
