<div class="home page-container page-container--center"> 
  <%= render 'shared/navbar' %>
  <div>
    <%= simple_form_for @family do |f| %>
    <%= f.input :name, label: 'Création de la famille', placeholder: 'Nom de votre famille' %>
    <%= f.button :submit, class: 'btn button-subscribe' %>
  <% end %>

  <%= render 'shared/footer' %>
  
</div>
   

