<% if current_user %>
<section class="flyout flyout-closed">
  <header class="flyout-header">
    <div class="d-flex justify-content-between">
      <a class="flyout-close icon-link" href="#">
          <%= image_tag("burger-menu.svg")  %>
      </a>
    </div>

    <div class="flyout-header-content">
        <span>Bienvenue sur 5m</span>
        <span class="float-left"><%= "Content de te revoir #{current_user.name}" %></span>
    </div>

  </header>

    <div class="flyout-links">

      <%= link_to "Tableau de bord", users_path %>
      <% if current_user.child == false %>
        <%= link_to "Mes enfants", family_children_path(current_user.family) %>
      <% end %>
      <% if current_user.child?%>
        <%= link_to "Mes missions", family_missions_path(current_user.family) %>
      <% else %>
        <%= link_to "Les missions", family_missions_path(current_user.family) %>
      <% end %>
      <% if current_user.child? %>
        <%= link_to "Mes récompenses", family_rewards_path(current_user.family) %>
      <% else %>
        <%= link_to "Les récompenses", family_rewards_path(current_user.family) %>
      <% end %>
      <% if current_user.child == false %>
        <%= link_to 'Les partenaires', partnairs_path %>
      <% end %>
      <%= link_to "Mon compte", edit_user_registration_path %>
      <%= link_to "Se déconnecter",  destroy_user_session_path, method: :delete %>

    </div>

    <div class="flyout-bottom">
      Made with love
    </div>

  <div class="flyout-shadow flyout-close"></div>
</section>
<% end %>
