<div class="home page-container page-container--center">
    <%= render 'shared/navbar' %>

    <div class="welcome-connection">

        <%= image_tag 'bienvenue.png', class:"bienvenue"%>

        <p class="intro">
            L’application qui facilite votre quotidien et la communication dans la famille.
        </p>
        <h2 id="subscribe"> <%= link_to "S'inscrire",  new_family_path, :class => "button-subscribe" %> </h2>
        <h2> <%= link_to "Se connecter", new_user_session_path, :class => "connection" %> </h2>
    </div>


    <%= render 'shared/footer' %>
</div>


