<div class="home page-container page-container--center">
  <%= render 'shared/navbar' %>

  <div class="family-creation-form">
    <h1><%= @mission.name %></h1>
    <div class="family-creation-form">
      <%= simple_form_for [@family, @mission] do |f| %>
        <%= f.input :name, label: 'Nom de la mission', placeholder: 'Nom de la mission'%>
        <%= f.input :point, input_html: { class: 'input' },  label: 'Nombre de point(s) gagné(s)', collection: 1..20, include_blank: false, class: 'btn button-subscribe' %>
        <%= f.input :repition, input_html: { class: 'input'}, label: 'Récurrence (chaque jour)?', as: :select, include_blank: false, collection: [['Oui', true],['Non', false]] %>
      <%= f.button :submit, "Modifier la mission" ,class: 'btn button-subscribe' %>
    <% end %>
  </div>

  </div>
  <button type="button" class="btn"><%= link_to "Retour", :back,  class: 'btn button-subscribe' %></button>

  <%= render 'shared/footer' %>
</div>
