<% if current_user.child? %>
<!-- VUE ENFANT -->

  <h1>Mes missions</h1>

  <ul class="list-missions">
    <% @current_user.missions.order(:status).each do |mission| %>
        <%= link_to mission_path(mission) do %>
          <li>
            <%= mission.name.capitalize %>
          </li>
            Nombre de points rapportés : <%= mission.point %>
        <% end %>
        <p>---------------------------------------------------------------------</p>
    <% end %>
  </ul>
<% else %>
<!-- VUE PARENT -->
  <h1>Voici la liste des missions en cours</h1>

  <button><%= link_to "Ajouter une mission", new_family_mission_path(current_user.id) %></button>

  <ul class="list-missions">
    <% @family_missions.order('status DESC').each do |mission| %>
    <% if mission.status == 'done' %>
    <% else %>
      <p><%= mission.user.name %></p>
        <%= link_to mission_path(mission) do %>
          <li>
            Mission = <%= mission.name.capitalize %>
          </li>
            Nombre de point (<%= mission.point %>)
        <% end %>
      <p>---------------------------------------------------------------------</p>
      <% end %>
    <% end %>
  </ul>
<% end %>


<!-- Réaliser ( + tard mettre boutton pour afficher mission faite ou non) -->



