<% @family_missions.where(repition: true).each do |mission| %>
  <% if ((mission.updated_at.day != Time.current.day) && mission.status == "done" ) %>  
    <% mission.status = "to_do" %>  
    <% mission.save %>
  <% end %>
<% end %>

<div class="home page-container page-container--center">
    <%= render 'shared/navbar' %>
    <div class="missions__CTA">
      <% if current_user.child? %>
      <!-- VUE ENFANT -->

        <h1>Mes missions</h1>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseOne" href="#collapse1">
                  A faire
                </a>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="missions-list">
                
                <% @current_user.missions.each do |mission| %>
                <div class="">
                  <% if mission.status == 'to_do' %>
                  <div class ="ongoing-mission-children__CTA">
                    <%= link_to mission_path(mission) do %>
                      <%= mission.name.capitalize %>
                      <br>
                      Nombre de points rapportés par la mission : <%= mission.point %>
                    <% end %>
                  </div>
                  <% end %>
                  </div>
                <% end %>
                
                
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <a data-toggle="collapse" data-target="#collapseTwo" href="#collapse2">
                  En cours de validation
                </a>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse hide" data-parent="#accordion">
              <div class="missions-list">
                <% @current_user.missions.each do |mission| %>
                  <% if mission.status == 'pending' %>
                    <div class ="ongoing-mission-children__CTA">  
                      <%= link_to mission_path(mission) do %>
                        <%= mission.name.capitalize %>
                        Nombre de points rapportés par la mission : <%= mission.point %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>       
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h2 class="mb-0">
                <a data-toggle="collapse"  data-target="#collapseThree">
                  Ancienne mission
                </a>
              </h2>
            </div>
            <div id="collapseThree" class="collapse hide" data-parent="#accordion">
              <div class="missions-list">  
                <% @current_user.missions.each do |mission| %>
                  <% if mission.status == 'done' %>
                  <div class ="ongoing-mission-children__CTA"> 
                    <%= link_to mission_path(mission) do %>
                      <%= mission.name.capitalize %>
                      Nombre de points rapportés par la mission : <%= mission.point %>
                    <% end %>
                  </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% else %>

      <!-- VUE PARENT -->
      <h1>Voici la liste des missions en cours</h1>

      <button type="button" class="btn"><%= link_to "Ajouter une mission", new_family_mission_path(current_user.family.id),  class: 'btn button-subscribe' %></button>



      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <h1 data-toggle="collapse" data-target="#collapseOne" href="#collapse2">
                A valider
              </h1>
            </h2>
          </div>
          <% if Mission.where(user: @family).where(:status => 'pending').count == 0 %>
            <div id="collapseOne" class="collapse hide" data-parent="#accordion">
          <% else %>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <% end %>
            <div class="missions-list">
              <% @family_missions.each do |mission| %>
                <% if mission.status == 'pending' %>
                  <%= link_to mission_path(mission) do %>
                  <div class ="ongoing-mission-parents__CTA">
                    <%= "#{mission.name.capitalize} (#{mission.user.name})"%>
                  </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <h1 data-toggle="collapse" data-target="#collapseTwo" href="#collapse2">
                En cours
              </h1>
            </h2>
          </div>
          <% if (Mission.where(user: @family).where(:status => 'to_do').count > 0 && Mission.where(user: @family).where(:status => 'pending').count == 0)%>
            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
          <% else %>
            <div id="collapseTwo" class="collapse hide" data-parent="#accordion">
          <% end %>

          <div class="missions-list">
            
            <% @family_missions.each do |mission| %>
              <div class="card-body ongoing-mission">
                <% if mission.status == 'to_do' %>
                  <div class ="ongoing-mission__cta">
                    <%= link_to mission_path(mission) do %>
                        <%= "Pour #{mission.user.name} : #{mission.name.capitalize}" %>
                    <% end %>
                  </div>
                  <div class="ongoing-mission__links">
                    <%= link_to "modifier", edit_mission_path(mission), class: 'button-small'%>
                    <%= button_to "Supprimer",  mission,  class: 'button-small', :method => :delete %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

      <% end %>
  </div>

<%= render 'shared/footer' %>
</div>

