<div class="home page-container page-container--center">
 <%= render 'shared/navbar' %>

 <% if current_user.child? %>
<!-- VUE ENFANT -->

  <h1>Mes missions</h1>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <a data-toggle="collapse" data-target="#collapseOne">
            A faire
          </a>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-missions">
            <% @current_user.missions.each do |mission| %>
              <% if mission.status == 'to_do' %>
                <%= link_to mission_path(mission) do %>
                  <li>
                    <%= mission.name.capitalize %>
                  </li>
                    Nombre de points rapportés par la mission : <%= mission.point %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <a data-toggle="collapse" data-target="#collapseTwo">
            En cours de validation
          </a>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse hide" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-missions">
            <% @current_user.missions.each do |mission| %>
              <% if mission.status == 'pending' %>
                <%= link_to mission_path(mission) do %>
                  <li>
                    <%= mission.name.capitalize %>
                  </li>
                    Nombre de points rapportés par la mission : <%= mission.point %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <a data-toggle="collapse"  data-target="#collapseThree">
            Ancienne mission
          </a>
        </h2>
      </div>
      <div id="collapseThree" class="collapse hide" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-missions">
            <% @current_user.missions.each do |mission| %>
              <% if mission.status == 'done' %>
                <%= link_to mission_path(mission) do %>
                  <li>
                    <%= mission.name.capitalize %>
                  </li>
                    Nombre de points rapportés par la mission : <%= mission.point %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% else %>

<!-- VUE PARENT -->
  <h1>Voici la liste des missions en cours</h1>

  <button type="button" class="btn"><%= link_to "Ajouter une mission", new_family_mission_path(current_user.family.id),  class: 'btn button-subscribe' %></button>



  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <a data-toggle="collapse" data-target="#collapseOne">
            A valider
          </a>
        </h2>
      </div>
      <% if Mission.where(:status => 'pending').count == 0 %>
        <div id="collapseOne" class="collapse hide" data-parent="#accordion">
      <% else %>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <% end %>
        <div class="card-body">
          <ul class="list-missions">
            <% @family_missions.each do |mission| %>
              <% if mission.status == 'pending' %>
                <%= link_to mission_path(mission) do %>
                  <li>
                    <%= "#{mission.name.capitalize} (#{mission.user.name})"%>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <a data-toggle="collapse" data-target="#collapseTwo">
            En cours
          </a>
        </h2>
      </div>
      <% if Mission.where(:status => 'pending').count == 0 %>
        <div id="collapseTwo" class="collapse show" data-parent="#accordion">
      <% else %>
        <div id="collapseTwo" class="collapse hide" data-parent="#accordion">
      <% end %>
        <div class="card-body suggestion-grid">
          
          
            <% @family_missions.each do |mission| %>
              <% if mission.status == 'to_do' %>
                <%= link_to mission_path(mission) do %>
                    <%= " Pour #{mission.user.name} : #{mission.name.capitalize} "%>
                  
                <% end %>
                <%= link_to "edit", edit_mission_path(mission) %>
                <%= button_to "delete", mission, :method => :delete %>
              <% end %>
            <% end %>
            
          
        </div>
      </div>
    </div>
  </div>

<% end %>

 <%= render 'shared/footer' %>
</div>

