<h1>Missions</h1>
<p>Selectionner une mission que doit faire votre enfant ou, ajoutez en une nouvelle</p>


<div>
  <h2>Ajouter une mission</h2>
  <div>
    <%= simple_form_for [@family, @mission] do |f| %>
      <%= f.input :name, label: 'Nom de la mission', placeholder: 'Nom de la mission'%>
      <%= f.input :point, label: 'Nombre de point(s) gagné(s)', collection: 1..20, include_blank: false %>
      <%= f.association :user, label: 'Quel enfant?', collection: @children, include_blank: false %>
      <%= f.input :start_at, label: 'Début de la mission (facultatif)', as: :date, start_year: Date.today.year %>
      <%= f.input :end_at, label: 'Fin de la mission (facultatif)', as: :date , start_year: Date.today.year %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>

</div>
<% suggestions = ["Arrêter de fumer", "Faire un Top 1","Sortir les poubelles", "Nourrir le chat", "Boutter les Anglais hors de Gaulle", "Ranger sa chambre", "Être gentil.le"] %>

<h2>Suggestions</h2>
  <% suggestions.each do |suggestion| %>
    <div class="suggestion">
      <ul>
        <li><%= suggestion %></li>
    </ul>
  </div>
  <% end %>




