<div class="home page-container page-container--center">
  <%= render 'shared/navbar' %>


  <% suggestions = ["faire son lit", "vider le lave vaisselle", "sortir les poubelles", "faire ses devoirs", "ramasser son linge sale", "ranger sa chambre", "ranger ses affaires au bon endroit", "nettoyer sa douche", "mettre la table", "vider la caisse du chat", "sortir le chien", "aller chercher le pain", "tondre la pelouse", "nourrir son animal domestique"] %>
 
    
  <div class="suggestion-container">
    <h1>Suggestions</h2>

    <div class="suggestion-grid">

      <% suggestions.each do |suggestion| %>
        <div class="button-suggestion">
            <%= suggestion.capitalize %>
      </div>
      <% end %>
    </div>
  </div>

    <h1>Ajouter une mission</h1>

  <div class="family-creation-form">
    
    <div class="family-creation-form">
      <%= simple_form_for [@family, @mission] do |f| %>
        <%= f.input :name, label: 'Nom de la mission', placeholder: 'Nom de la mission'%>
        <%= f.input :point, input_html: { class: 'input' },  label: 'Nombre de point(s) gagné(s)', collection: 1..20, include_blank: false, class: 'btn button-subscribe' %>
        <%= f.input :repition, input_html: { class: 'input'}, label: 'Récurrence (chaque jour)?', as: :select, include_blank: false, collection: [['Oui', true],['Non', false]] %>
        <%= f.association :user, input_html: { class: 'input'}, label: 'Quel enfant?', collection: @children, include_blank: false %>
      <%= f.button :submit, 'Créer la mission', class: 'btn button-subscribe' %>
    <% end %>
  </div>

  </div>

  <%= render 'shared/footer' %>
</div>

