<div class="home page-container page-container--center">
  <%= render 'shared/navbar' %>


  <% suggestions = ["Arrêter de fumer", "Faire un Top 1","Sortir les poubelles", "Nourrir le chat", "Boutter les Anglais hors de Gaulle", "Ranger sa chambre", "Être gentil.le"] %>


    
  <div class="suggestion-container">
    <h1>Suggestions</h2>

    <div class="suggestion-grid">

      <% suggestions.each do |suggestion| %>
        <div class="button-suggestion">
            <%= suggestion %>
      </div>
      <% end %>
    </div>
  </div>

    <h1>Ajouter une mission</h1>

  <div class="family-creation-form">
    
    <div class="family-creation-form">
      <%= simple_form_for [@family, @mission] do |f| %>
        <%= f.input :name, label: 'Nom de la mission', placeholder: 'Nom de la mission'%>
        <%= f.input :point, input_html: { class: 'input' },  label: 'Nombre de point(s) gagné(s)', collection: 1..20, include_blank: false, class: 'btn button-subscribe' %>
        <%= f.input :repition, input_html: { class: 'input'}, label: 'Récurrence (chaque jour)?', as: :select, include_blank: false, collection: [['Oui', true],['Non', false]] %>
        <%= f.association :user, input_html: { class: 'input'}, label: 'Quel enfant?', collection: @children, include_blank: false %>
      <%= f.button :submit, 'Créer la mission', class: 'btn button-subscribe' %>
    <% end %>
  </div>

  </div>

  <%= render 'shared/footer' %>
</div>

