<h1><%= @mission.name.upcase %></h1>

<% if current_user.child? %>
<!-- VUE ENFANT -->
<%= @mission.status %>
  <p>Début de la mission le : <%= @mission.start_at %></p>
  <p><%= "Tu as jusqu'au #{@mission.end_at} pour finir ta mission" %></p>
  <p><%= "Si tu réussi, tu pourras obtenir #{@mission.point} points !" %></p>

    <% if @mission.to_do?  %>
    <%= link_to "go", edit_mission_path(@mission) %>
      <%= simple_form_for @mission do |f| %>
        <%= f.input :status, collection: [['1', 'pending'], ['2', 'done']] %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    <% end %>

<% else %>
<!-- VUE PARENT -->

  <p><%= "Assigné à #{@mission.user.name} pour le #{@mission.start_at}" %></p>
  <p>Fin de la mission prévue le : <%= @mission.end_at %></p>
  <p>Nombres de points rapportés : <%= @mission.point %></p>
  <p><% if @mission.to_do? %>
      <%= "Mission toujours en cours" %>
    <% elsif @mission.pending? %>
      <%= "Vérifie que la mission a été correctement effectuée" %>
    <% else %>
      <%= "Mission réalisé avec Brio " %>
    <% end %>
  </p>
<% end %>


<!-- 3 états différents : en cours(to_do[0])  / a valider(pending[1]) / valider(done[2])
Enfant fait passer état en cours a à valider
Parent fait passer état à valider à en cours ou valider -->
