<div class="home page-container page-container--center">
  <%= render 'shared/navbar' %>


  <div class ="family-creation-form">
    <h1><%= @mission.name.upcase %></h1>

    <% if current_user.child? %>
    <!-- VUE ENFANT -->
      <p>Début de la mission le : <%= @mission.start_at %></p>
      <p><%= "Si tu réussi, tu pourras obtenir #{@mission.point} points !" %></p>

      <% if @mission.to_do?  %>
        <%= simple_form_for @mission do |f| %>
          <%= f.hidden_field :status, :value => 'pending' %>
          <%= f.button :submit, "J'ai terminé la mission", class: 'btn button-widou' %>
        <% end %>
      <% elsif @mission.pending? %>
        <p><%= "En cours de vérification par le Big Boss" %></p>
      <% else %>
        <p><%= "Bravo bien joué !" %></p>
      <% end %>

    <% else %>
    <!-- VUE PARENT -->
      <p><%= "Assigné à #{@mission.user.name}"%></p>
      <p>Nombres de points rapportés : <%= @mission.point %></p>
      <p><% if @mission.to_do? %>
          <%= "Mission toujours en cours" %>
        <% elsif @mission.pending? %>
          <%= "Vérifie que la mission a été correctement effectuée" %>
          <div class="validation-buttons">
            <%= simple_form_for @mission do |f| %>
              <%= f.hidden_field :status, :value => 'done' %>
              <%= f.button :submit, 'parfait', class: 'btn btn-success' %>
            <% end %>

            <%= simple_form_for @mission do |f| %>
              <%= f.hidden_field :status, :value => 'to_do' %>
              <%= f.button :submit, 'à refaire', class: 'btn btn-danger' %>
            <% end %>
          </div>
        <% else %>
          <%= "Mission réalisé avec Brio on peut être fière" %>
        <% end %>
      </p>
    <% end %>
  </div>

  <!-- 3 états différents : en cours(to_do[0])  / a valider(pending[1]) / valider(done[2]) -->


  <%= render 'shared/footer' %>
</div>


